%h1 Тестовое приложение для Rambler&Co

.block-sign-in
  .content
    %h5.slidable Пожалуйста, выполните вход, чтобы продолжить

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      .field.slidable.first
        = f.label :email
        = f.email_field :email

      .field.slidable
        = f.label :password
        = f.password_field :password, autocomplete: "off"

      .actions.slidable
        = f.submit "Войти"

    = render "devise/shared/links"
