%header.header
  .header__inner.admin
    
    %h1.header__logo= link_to 'Logo picture', root_path, class: 'logo-picture'
    
    %ul.header-user-profile
      %li.avatar= link_to '', 'https://github.com/gafrom', title: "Профиль", class: "avatar-female"
      %li.profile
        %p Всемогущий
        %p.dim Загружальщик
    
    .header_menu_block  
      %ul.social-icons.social-icons_header
        %li= link_to '', 'https://github.com/gafrom/fiddle', class: 'icon-github-circled', title: "Source code"

      %ul.header__menu
        %li= link_to 'Загрузить CSV', new_admin_catalog_path, title: "Загрузить CSV"
        %li= link_to 'Показать 10 топ', root_path, title: "Показать 10 топ"
        %li= link_to 'Выйти', destroy_user_session_path, method: :delete, title: "Выйти" 


    %button.header__hamburger
      %span
